#darkmode-toggle-label {
    width:80px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }

  #darkmode-toggle-label:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  #darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  #darkmode-toggle:checked + #darkmode-toggle-label {
    background: #242424;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label:after {
    left: 80px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  #darkmode-toggle-label, #darkmode-toggle-label:after {
    transition: 0.3s
  }

  #darkmode-toggle-label:active:after {
    width: 40px;
  }

  #darkmode-toggle-label .darkmode-toggle-svg {
    position: absolute;
    width: 25px;
    top: 2px;
    z-index: 100;
  }
  #darkmode-toggle-label .darkmode-toggle-svg#darkmode-toggle-sun {
    left: 2px;
    fill:#fff;
    transition: 0.3s;
  }
  #darkmode-toggle-label .darkmode-toggle-svg#darkmode-toggle-moon {
    left:53px;
    fill:#7e7e7e;
    transition: 0.3s;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label .darkmode-toggle-svg#darkmode-toggle-sun {
    fill:#7e7e7e;
  }
  #darkmode-toggle:checked + #darkmode-toggle-label .darkmode-toggle-svg#darkmode-toggle-moon {
    fill:#fff;
  }